In [8]:
import pandas 
import pandas as pd

# Read the Titanic dataset
df = pd.read_csv('titanic.csv')

# Display the first few rows
print(df.head())

   survived  pclass                                               name  \
0         0       3                            Braund, Mr. Owen Harris
1         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2         1       3                             Heikkinen, Miss. Laina
3         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4         0       3                           Allen, Mr. William Henry

      sex   age     fare  sibsp  parch
0    male  22.0   7.2500      1      0
1  female  38.0  71.2833      1      0
2  female  26.0   7.9250      0      0
3  female  35.0  53.1000      1      0
4    male  35.0   8.0500      0      0

In [9]:
print(df.columns)
for col in df.columns:
    print(col)
import pandas as pd

# Load the Titanic dataset
df = pd.read_csv('titanic.csv')

# Display column names
print(df.columns)

Index(['survived', 'pclass', 'name', 'sex', 'age', 'fare', 'sibsp', 'parch'], dtype='object')
survived
pclass
name
sex
age
fare
sibsp
parch
Index(['survived', 'pclass', 'name', 'sex', 'age', 'fare', 'sibsp', 'parch'], dtype='object')